@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>

<div class="d-grid gap-2">
    @foreach (string pt in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(ViewBag.SelectedCategory == pt  ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="Products" asp-route-categoryDescription="@pt" , asp-route-pageNum="1">@pt </a>
    }
</div>