@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row m-1 p-1">
        <div class="col-8">
            <br />
            <h1 style="font-size: 70px;">Hey, I'm Aurora!!</h1>
            <br />
            <p>Here's a little about me:</p>
            <p>
                I've wanted to be a master builder ever since I was a little girl. I still remember getting my first set of bricks (I was about 7 I think),
                and it was a LEGO Ninjago fire dragon. From that moment, I was hooked. The thrill of putting together the bricks step-by-step and watching
                the whole piece slowly come together was too much to resist! I had to buy another.
            </p>
            <p>
                Ever since then, I've dedicated my life to following my passion, discovering the neatest sets and sharing the joy of LEGO with the world. Thanks
                so much for following along! On my site, you will find a catalog of the best sets I've encountered over the years with an easy storefront that
                allows you to add them to your home collection in seconds.
            </p>
            <p>
                If you do find a new favorite set through my recommendations, all I ask is that you tag me in your posts about it! Let's team up to spread LEGO
                to the entire planet!
            </p>
            <br />
            <div style="display: flex; justify-content: center;">
                <a asp-controller="Home" asp-action="Products" class="btn btn-primary" style="font-size: 25px">Shop My Collection</a>
            </div>
        </div>
        <div class="col-4">
            <br />
            <br />
            <div style="display: flex; justify-content: center;">
                <img src="~/img/aurora.png" alt="Screenshot of Aurora on Tik Tok" style="width: 300px; height: auto; border: 10px solid #7D8E95; border-radius: 10px;">
            </div>
        </div>
    </div>
</div>
