@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-bottom: 50px;"></div>
<div class="container" style="border: 10px solid #C91A09; width: 740px; border-radius: 10px;">
    <div style="margin-bottom: 20px;"></div>
    <div class="row justify-content-center">
        <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
            <h1>Welcome, Administrator</h1>
            <div style="margin-bottom: 20px;"></div> <!-- Margin for spacing -->
            <a href="/admin/products" class="btn btn-primary" style="color: black; background-color: #F2CD37; font-size: 25px; border-radius: 10px; font-family: 'Saira Condensed', sans-serif; width: 200px;">Review Products</a>
            <div style="margin-bottom: 20px;"></div> <!-- Margin for spacing -->
            <a href="/admin/orders" class="btn btn-primary" style="color: black; background-color: #F2CD37; font-size: 25px; border-radius: 10px; font-family: 'Saira Condensed', sans-serif; width: 200px;">Review Orders</a>
            <div style="margin-bottom: 20px;"></div> <!-- Margin for spacing -->
            <a href="/admin/users" class="btn btn-primary" style="color: black; background-color: #F2CD37; font-size: 25px; border-radius: 10px; font-family: 'Saira Condensed', sans-serif; width: 200px;">Review Users</a>
        </div>
    </div>
    <div style="margin-bottom: 20px;"></div>
</div>


