@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="background-color: black;">
    <div class="row m-1 p-1">
        <div class="col-5">
            <h1 style="font-size: 100px; color: white;">Welcome to Aurora's LEGO Shop</h1>
            <h4 style="font-size: 30px; color: white;">With new arrivals coming to you all summer long</h4>
            <button type="button" style="background-color: white; color: black;">Shop Now</button>
        </div>
        <div class="col-7">
            <div style="text-align: center;">
                <img src="~/img/giphy.gif" alt="LEGO Typewriter" style="width: 600px; height: auto;">
            </div>
        </div>
    </div>
</div>

