@model WinterIntex.Models.ViewModels.UserRecommendationsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero div -->
<div class>
    <div class="container">
        <div class="row m-1 p-1 align-items-center">
            <div class="col-md-12 text-center text-md-start">
                <br />
                <h1 class="fw-bold" style="font-size: 4.5vw;">Welcome to Aurora's LEGO Shop</h1>
                <h4 class="fw-normal" style="font-size: 1.5vw;">With new arrivals coming to you all summer long</h4>
                <br />
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Products" class="btn btn-primary" style="background-color: #FFBB98; font-size: 1.8vw; border-radius: 10px; font-family: 'Saira Condensed', sans-serif; width: 250px">Shop Now</a>
                </div>
                <br />
            </div>
@*             <div class="col-md-7 text-center">
                <br class="d-md-none">
                <img src="~/img/giphy (1).gif" alt="LEGO Batman gif" class="img-fluid" style="max-width: 100%;">
            </div> *@
        </div>
        
    </div>
</div>
<br />

<!-- Recommendations div -->
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Aurora's Recommendations for You</h3>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="scrollable-cards-container">
                    <div class="scrollable-cards-row">
                        @foreach (var recProduct in Model.RecommendedProducts)
                        {
                            <div class="col-md-3">
                                <partial name="ProductSummary" model="recProduct" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h3>My Favorite Sets</h3>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="scrollable-cards-container">
                    <div class="scrollable-cards-row">
                        @foreach (var recProduct in Model.RecommendedProducts)
                        {
                            <div class="col-md-3">
                                <partial name="ProductSummary" model="recProduct" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        }
    </div>}
