@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero div -->
<div class="bg-black text-white">
    <div class="container">
        <div class="row m-1 p-1" style="height: 400px;">
            <div class="col-md-5">
                <br />
                <h1 style="font-size: 70px;">Welcome to Aurora's LEGO Shop</h1>
                <h4 style="font-size: 28px;">With new arrivals coming to you all summer long</h4>
                <br />
                <div style="display: flex; justify-content: center;">
                    <a asp-controller="Home" asp-action="Products" class="btn btn-primary" style="font-size: 30px; border-radius: 10px; font-family: 'Saira Condensed', sans-serif;">Shop Now</a>
                </div>
            </div>
            <div class="col-md-7">
                <div style="text-align: center;">
                    <br />
                    <img src="~/img/giphy (1).gif" alt="LEGO Batman gif" style="width: 600px; height: auto;">
                </div>
            </div>
        </div>
    </div>
</div>
