html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-yellow {
    background-color: #F2CD37 !important;
}

.bg-black {
    background-color: #000000 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Condensed';
    src: url('~/fonts/SairaCondensed-Regular.ttf') format('truetype');
}

nav {
    font-family: 'Saira Condensed';
    src: url('~/fonts/SairaCondensed-Regular.ttf') format('truetype');
    font-size: 1.5vw;
}

/* CSS for Product Cards */
.card {
    width: 300px;
}

.card-header {
    background-color: white;
}

.img-wrapper {
    background-color: white;
    padding: 0 20px; /* Adjust padding as needed */
}

.card-footer {
    background-color: white;
}

    /* CSS for buttons inside the card-footer */
    .card-footer button {
        margin-right: 5px; /* Adjust spacing between buttons */
    }

.btn-view-details {
    color: #F2CD37; /* Set text color */
    border-color: #F2CD37; /* Set border color */
}

    .btn-view-details:hover {
        color: #fff; /* Change text color on hover */
        background-color: #F2CD37; /* Change background color on hover */
        border-color: #F2CD37; /* Change border color on hover */
    }

.badge-price {
    background-color: #F2CD37; /* Set background color */
    color: #fff; /* Set text color */
}

    .badge-price small {
        color: #fff; /* Set text color for small text inside the span */
    }

body {
    background-color: #F5F5F5; /* Off-white background color */
    color: #000000; /* Black text color */
}

.btn-primary {
    color: #fff;
    background-color: #007bff; /* Bootstrap's btn-primary blue color */
    border-color: #007bff; /* Bootstrap's btn-primary blue color */
    font-size: 1.25rem;
    border-radius: 10px;
    font-family: 'Saira Condensed', sans-serif;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
}

    .btn-primary:hover {
        background-color: white;
        color: #007bff; /* Bootstrap's btn-primary blue color */
        border-color: #007bff; /* Bootstrap's btn-primary blue color */
    }





