@page
@model WinterIntex.Pages.FraudCompletedModel
@{
}
<div class="text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order</p>
    <p>Your order is now being reviewed!</p>
    <a class="btn btn-primary" asp-controller="Home">Return to Store</a>
</div>



@functions {

    [BindProperty(SupportsGet = true)]
    public int? transaction_ID { get; set; }
}